@use '../custom' as *;
@use '../components/mixins' as *;

.testimonials{
    position: relative;
    padding: 0;
    @include gradient;

    &__card{
        background-color: rgba($color:white, $alpha: 0.8);
        padding: 2rem 1.25rem;
        border-radius: 0.625rem;
        height: auto;
        text-align: center;

        i{
            font-size: 1.5rem;
            color: rgba($secondary,0.7);
        }

        .ratings{

            i{
                font-size: 1rem;
                color: rgba($secondary,0.7);
            }
        }
    }
    &__picture{
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);

        img{
            border: 0.3rem solid rgba($primary,0.7);
            height: 100%;
            width: auto;
        }
    }

    &__name{
        padding-top: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        color: white;
        font-weight: 500;

        h3{
            padding-top: 0.8rem;
        }
    }

    picture{
        .rounded-circle{
            // height: 5rem;
            width: 5rem;
        }
    }
}

